.mainDiv {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  height: 80vw;
}

.mainDiv h1 {
  /* color:white;  */
  text-align: center;
  /* display: flex;
    justify-content: center; */
}

.titel {
  /* height: 70vw; */
  width: 100%;
  background-color: #121026;
}

.titel h1 {
  color: white;
  font-size: 5vw;
}

.div1 {
  font-size: 35px;
  text-align: center;
  /* background-color: gray; */
  /* margin:50px; */
  background-color: #121026;
  margin: 0 60px;
  height: auto;
}

body {
  overflow-y: scroll;
}

.ptext {
  padding:0vw 0vw 0vw 0px;
  margin: 1vw 10vw 1vw 0px;
  text-align: justify;
  font-size: 16px;
  color: white;
  font-family: DINOT-Black, Arial, Helvetica;
  position:relative;
}

body p:last-child {
  margin-bottom: 0em;
}

body div.div1:last-child {
  margin-top: 100px;
}

.parallax {
  background-image: url("../img/code_tag_background.jpg");
  /* background-image:url("https://images.unsplash.com/photo-1585076641399-5c06d1b3365f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 300px;
  object-fit: contain;
}

@media screen and (max-width: 850px) {
  .ptext {
    margin: 0px 15px;
    font-size: 5vw;
  }

  .div1 {
    margin-right: 0;
    margin-left: 0;
  }
}
