.mainDiv {
    margin-left: 50px; 
    margin-right: 50px; 
    margin-bottom: 20px;
    height: 80vw;
}

.mainDiv h1 {
    color:white; 
    text-align: center;
    display: flex;
    justify-content: center;
}

.titel{
    height: 70vw;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
  background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titel h1{
    color:white;
    font-size: 5vw;    
}

.div1 {
    font-size: 35px; 
    text-align: center;
}

.section1 {
height: 70vw;
width: 100vw;
filter: blur(8px);
-webkit-filter: blur(8px);
  background-image: url("https://images.unsplash.com/photo-1621839673705-6617adf9e890?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body{
    overflow-y: scroll;
}

p { 
    /* color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; */
    width: 80%;
    padding: 20px;
    text-align: center;
}

body p:last-child { margin-bottom: 0em; }

