/*ikonet på indstillingerne før boksen kommer frem*/
.indstillinger {
    display:block;
    width:65px;
    height: 65px;;
    padding: 10px 5px 5px;
    float:right;

}

/* Pop up box css */
.popupBoxClass {
    display: none;
    position: fixed;
    z-index:1 ;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* sort w/ opacity */
}

.popupBox-content{
    background:#121026;
    margin:auto;
    padding: 20px;
    border: 5px solid greenyellow;
    width: 80%;
}

.xClose {
    color: #df2727;
    float:right;
    font-size: 75px;
    font-weight: 800;
}

.xClose:hover, .xClose:focus{
    color: #b41414;
    text-decoration: none;
    cursor: pointer;
}

.popupBox-content h1{
    color:#eb5332;
    text-align: center;

}

.popupBox-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#eb5332;
}



label{
    color: #eb5332;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
.farveRute{
    color:black;
    font-size: 15px;
    margin-left: 10px;    
}
.aktiviteter{
    color:white;
    font-size: 15px;
    margin-left: 10px;    
}
*/



select{
    color:black;
    font-size: 15px;
    margin-left: 10px;   
    display:block;
    text-align: center;
    right: auto;
    width: auto; 
}