
/* 
.p5Canvas{
    width: 100px;
} */
#defaultCanvas0{

    /* width: 10px; */
    /* padding: 5px; */

}


canvas {
    /* padding-left: 0; */
    /* padding-right: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: block;  */
    /* width: 10px; */
    /* aspect-ratio: none; */

}

form {
    position: relative;
    display: inline-block;
}

#fra {
    position: relative;
    right: -13%;
    width: 14.5%;
    display: inline-block;
}
#til {
    /* position: relative; */
    display: inline-block;
} 

/* #listInput1, #listInput2 {
    display: inline;
    position:relative;
} */

 #updated{
    position: relative;
    font-size: 12px;
    right: -45%;
    color: red;
    display: inline-block;
} 

body{
    margin: 0;
    overflow: hidden;
}


ul.topNav  {
    list-style:none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    /* height: 85px; */
    background-color: #121026;
    border-bottom: 10px solid #141414;

}



li {
    float:right;
    /* height: auto;
    width: auto; */
    padding: 5px 0px;
    font-family: Arial, sans-serif ;

}

li a:hover {
    background-color: #090813;
}

li a {
    position: relative;
    display: block;
    padding: 25px;
    color: #eb5332;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav dropdown til mobil */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
    width: 100%;
    margin: 0;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: black;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

  .dropdown, .navbar {
      display:none;
  }

  /* Hvis skærmen er under 800px så vil css ændres til det her*/
@media screen and (max-width: 850px) {
    ul.topNav li {
        float: none;
        padding: auto;
        display: none;
    }
    #fra, #til {
        display:block;
        text-align: center;
        right: auto;
        width: auto;
    }

    form {
        display:block;  
        text-align: center;
    }

    .dropdown, .navbar {
        display:block;
    }

    body{
        /* overflow: show; */
    }
    html{
        overflow-x: scroll;
        overflow-y: scroll;
    }


  }