html {
	height: 100%;
}


#typeWriter1 {
	color: rgb(0, 0, 0);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.centerBox {
	position: relative;
	font-size: 25px;
	width: 100%;
	height: calc(100% - 5rem - 2.5rem - 6px - 0.325rem);

	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
}

#email {
	color: blue;
	padding-left: 0.3rem;
}

#footer1 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	padding: 3px 0;
	background-color: #121026;
	color: white;
}

/* mobil */
@media screen and (max-width: 850px) {
	#typeWriter1 {
		margin-bottom: 0;
	}

	#email {
		margin-top: 10px;
	}
}