#typeWriter1 {
    color: white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
}

.centerBox{
    display: flex;
    flex-direction: row;
    margin: auto 300px;
}


#email {
    color: blue;
    display: inherit;
    padding-left: 0.2rem;
}

body {
    background-color:black;
    overflow-x: hidden;
}
